<?php
return [
    'oauth' => [
        'consumer_key'    => 'fancy_twitter_key',
        'consumer_secret' => 'nifty_twitter_secret',
        'token'           => 'snowflake_of_a_token',
        'token_secret'    => 'your_very_own_secret'
    ],
    'track' => [
        'fail',
        'php',
        'tjlytle',
    ],
    'nexmo' => [
        'key' => 'an_exciting_key',
        'secret' => 'the_secure_secret'
    ],
    'wakeup' => [
        'dbname' => 'wakeup',
        'dbuser' => 'vagrant',
        'dbpass' => 'vagrant'
    ],
    'compliance'   => [
        'dbname'   => 'compliance',
        'dbuser'   => 'vagrant',
        'dbpass'   => 'vagrant',
        'keywords' => [
            'vonage'
        ]
    ]
];