<?php
return [
    'oauth' => [
        'consumer_key'    => 'fancy_twitter_key',
        'consumer_secret' => 'nifty_twitter_secret',
        'token'           => 'snowflake_of_a_token',
        'token_secret'    => 'your_very_own_secret'
    ],
    'track' => [
        'fail',
        'php',
        'tjlytle',
    ],
    'nexmo' => [
        'key' => 'an_exciting_key',
        'secret' => 'the_secure_secret'
    ],
    'wakeup' => [
        'host'   => 'mysql'     //for vagrant use 'localhost'
        'dbname' => 'workshop', //for vagrant use 'wakeup'
        'dbuser' => 'workshop', //for vagrant use 'vagrant'
        'dbpass' => 'workshop', //for vagrant use 'vagrant'
    ],
    'compliance'   => [
        'host'     => 'mysql'     //for vagrant use 'localhost'
        'dbname'   => 'workshop', //for vagrant use 'compliance'
        'dbuser'   => 'workshop', //for vagrant use 'vagrant'
        'dbpass'   => 'workshop', //for vagrant use 'vagrant'
        'keywords' => [
            'lytle'
        ]
    ]
];